/* Cài đặt nền của trang */
body {
    background-color: #f8f9fa; /* Nền sáng để làm nổi bật nội dung */
    font-family: Arial, sans-serif; /* Đặt font chữ cho toàn trang */
}

/* Cài đặt nền của container */
.container {
    background-color: #ffffff; /* Nền trắng cho phần nội dung */
    border: 1px solid #dddddd; /* Viền nhẹ để tạo sự phân biệt */
    border-radius: 8px; /* Bo góc cho container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng đổ bóng */
    padding: 20px; /* Khoảng cách bên trong container */
    margin-top: 20px; /* Khoảng cách từ phần trên */
}

/* Cài đặt tiêu đề */
h1 {
    color: #de1348; /* Màu  cho tiêu đề */
    font-size: 5rem; /* Kích thước lớn cho tiêu đề */
    margin-bottom: 20px; /* Khoảng cách dưới tiêu đề */
}

/* Cài đặt liên kết */
a {
    color: #007bff; /* Màu xanh dương cho liên kết */
    text-decoration: none; /* Loại bỏ gạch chân */
    font-size: 1.2rem; /* Kích thước chữ cho liên kết */
}

a:hover {
    color: #1f1d1d; /* Màu xanh dương đậm khi di chuột qua */
    text-decoration: underline; /* Thêm gạch chân khi di chuột qua */
}

/* Cài đặt thông báo thành công */
.alert-success {
    max-width: 300px; /* Giới hạn chiều rộng của thông báo */
    margin: 10px auto; /* Căn giữa */
    padding: 10px; /* Padding cho thông báo */
    font-size: 14px; /* Kích thước chữ */
    border-radius: 8px; /* Bo góc cho thông báo */
    position: fixed; /* Cố định thông báo */
    top: 20px; /* Đặt ở phần trên của trang */
    left: 50%; /* Căn giữa theo chiều ngang */
    transform: translateX(-50%); /* Đảm bảo căn giữa tuyệt đối */
    z-index: 1000; /* Đặt trên cùng của các phần tử khác */
}

.button {
    cursor: pointer;
    font-size: large;
    font-family: inherit;
    font-weight: bold;
    color: #ec004f; /* tên */
    background-color: #f699c1;
    padding: 0.8em 2.2em;
    border-radius: 50em;
    border: 6px solid #ec0924; /* màu viền to */
    box-shadow: 0px 8px #f18590;
}
.button:active {
    position: relative;
    top: 8px;
    border: 6px solid #07110d;
    box-shadow: 0px 0px;
}

.centers {
    text-align: center;
    margin: 100px;
}